#4.5: Data Consistency Checks

In [15]:
path = r'C:\Users\agarcia\OneDrive - ITURRI S.A\AGS\Data Analytics Careerfoundy\11-2022 Instacart Grocery Basket Analysis\02 Data'

In [12]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [30]:
df_prods = pd.read_csv(os.path.join(path, 'Original Data', 'products.csv'),index_col = False)

In [47]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'),index_col = False)

In [21]:
#create a dataframe 
df_test= pd.DataFrame()

In [23]:
#create a mixed type column
df_test['mix']=['a','b',1,True]

In [25]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [26]:
#check for mixed columns 
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [27]:
df_test['mix'] = df_test['mix'].astype('str')

In [31]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [32]:
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [33]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [34]:
df_prods.shape

(49693, 5)

In [35]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [36]:
df_prods_clean.shape

(49677, 5)

In [37]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [38]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [39]:
df_prods_clean.shape

(49677, 5)

In [40]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [41]:
df_prods_clean_no_dups.shape

(49672, 5)

#Tasks

In [43]:
# Run the df.describe() function on your df_prods dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.
#Tip: Keep an eye on min and max values!

df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [49]:
#Check for mixed-type data in your df_ords dataframe.
df_ords

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
5,5,3367565,1,prior,6,2,7,19.0
6,6,550135,1,prior,7,1,9,20.0
7,7,3108588,1,prior,8,1,14,14.0
8,8,2295261,1,prior,9,1,16,0.0
9,9,2550362,1,prior,10,4,8,30.0
10,10,1187899,1,train,11,4,8,14.0

In [50]:
#there is no mixesc-type data

In [51]:
#Run a check for missing values in your df_ords dataframe.
#In a markdown cell, report your findings and propose an explanation for any missing values you find.

# There is one missing value on the first line, column days_since_prior_order

In [57]:
#calculate mean and median of the column with missing values

df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,11.000000,1.100000e+01,11.0,11.000000,11.000000,11.000000,10.000000
mean,5.000000,1.923450e+06,1.0,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.071950e+06,0.0,3.316625,1.286291,3.477198,9.030811
min,0.000000,4.315340e+05,1.0,1.000000,1.000000,7.000000,0.000000
25%,2.500000,8.690170e+05,1.0,3.500000,1.500000,7.500000,14.250000
50%,5.000000,2.295261e+06,1.0,6.000000,3.000000,8.000000,19.500000
75%,7.500000,2.544846e+06,1.0,8.500000,4.000000,13.000000,26.250000
max,10.000000,3.367565e+06,1.0,11.000000,4.000000,16.000000,30.000000

In [65]:
df_ords.median()

C:\Users\agarcia\AppData\Local\Temp\ipykernel_23136\604826045.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_ords.median()

Unnamed: 0                      5.0
order_id                  2295261.0
user_id                         1.0
order_number                    6.0
order_dow                       3.0
order_hour_of_day               8.0
days_since_prior_order         19.5
dtype: float64

In [68]:
df_ords.mean()

C:\Users\agarcia\AppData\Local\Temp\ipykernel_23136\1852493349.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_ords.mean()

Unnamed: 0                5.000000e+00
order_id                  1.923450e+06
user_id                   1.000000e+00
order_number              6.000000e+00
order_dow                 2.636364e+00
order_hour_of_day         1.009091e+01
days_since_prior_order    1.900000e+01
dtype: float64

In [69]:
# Mean and median are quite similar (19, 19.5) so I decide to replace the missing value with the median

In [78]:
df_ords['days_since_prior_order'].fillna(mediam value, inplace=True)

SyntaxError: invalid syntax (3798668875.py, line 1)

In [76]:
# Run a check for duplicate values in your df_ords data.
# In a markdown cell, report your findings and propose an explanation for any duplicate values you find.
df_dups = df_ords[df_ords.duplicated()]

In [74]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [77]:
#there is no duplicated values

In [81]:
df_ords.to_csv(os.path.join(path,'Prepared Data', 'orders_4.csv'))

In [82]:
df_prods_clean_no_dups.to_csv(os.path.join(path,'Prepared Data', 'products_4.csv'))